@import url("main.css");

* {
    -fx-font-family: Muli, sans-serif;
}

#avatar {
    -fx-shape: "M100,50 A50,50 0 1,1 99.9,50 Z";
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: transparent;
    -fx-padding: 0;
}