@import url("main.css");

* {
    -fx-font-family: Muli, sans-serif;
}

#table-view {
    -fx-border-color: #0078D7;
    -fx-border-width: 2;
    -fx-background-color: #f4f4f4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

#table-view .row-cell:hover {
    -fx-background-color: #d1ecf1;
}
