#LeftSideBar_VBox {
    -fx-alignment: top_center;
}

#AccountInfo_Pane {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

#UserImage_ImageView {
}

#Status_Circle {
}

#AccountInfo_Pane Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#AccountInfo_Pane #username_Label {
    -fx-font-size: 18px;
}

#MainNavigation_Label {
    -fx-font-size: 16px;
    -fx-padding: 5px 0;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

Button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-padding: 0 15px;
}

Button:hover {
}

MenuButton {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-padding: 0 15px;
}

MenuButton .menu-item {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-background-radius: 10px;
}

MenuButton .menu-item:hover {
}

TextField {
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
}

TextField:focused {
}

#MainNavigation_Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10px 0;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
