
AnchorPane {
    -fx-background-color: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    -fx-font-family: 'Roboto', sans-serif;
}

#TextField, #PasswordField, #ConfirmField {
    -fx-background-color: #f0f3f4;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 10px;
    -fx-font-size: 8px;
    -fx-padding: 10px;
    -fx-pref-width: 250px;
}

#TextField:focused, #PasswordField:focused, #ConfirmField:focused {
    -fx-border-color: #3498db;
    -fx-background-color: #ffffff;
}


.Label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#createAccount_Label {
    -fx-text-fill: #3498db;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#username_Label {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #3498db; /* Màu xanh cho Username */
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

#username_Label:hover {
    -fx-text-fill: #2980b9;
    -fx-cursor: pointer;
    -fx-underline: true;
}

#password_Label {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #3498db;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

#password_Label:hover {
    -fx-text-fill: #3498db;
    -fx-cursor: pointer;
    -fx-underline: true;
}

#confirm_Label {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #3498db;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

#confirm_Label:hover {
    -fx-text-fill: #3498db;
    -fx-cursor: pointer;
    -fx-underline: true;
}

#TextField:focused + #username_Label,
#PasswordField:focused + #password_Label,
#ConfirmField:focused + #confirm_Label{
    -fx-text-fill: #3498db;
}


#Create_Button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 24;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}

#Create_Button:hover {
    -fx-background-color: #2980b9;
}

#Create_Button:pressed {
    -fx-background-color: #1c6fa0;
}

#ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 3, 3);
    -fx-padding: 20px;
}





